## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
clean_application_df = application_df.drop(columns=['EIN', 'NAME'])

clean_application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
unique_values = clean_application_df.nunique()

unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"

application_type_counts = clean_application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Define the cutoff value for grouping less frequent application types into "Other"
cutoff = 200

# Create a list of application types to be replaced with "Other"
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()

# Replace in dataframe
clean_application_df['APPLICATION_TYPE'] = clean_application_df['APPLICATION_TYPE'].replace(application_types_to_replace, "Other")

# Check to make sure replacement was successful
print(clean_application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# KEEPING JUST IN CASE MINE IS WRONG. NAME ON THIS ONE DIFFERS FROM ABOVE. DON'T EXPECT A PROBLEM, BUT KEEPING.

# NOTE THAT ALL THE DATA HAS THIS ISSUE.

# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
#for app in application_types_to_replace:
    # application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
# application_df['APPLICATION_TYPE'].value_counts()

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"

classification_counts = clean_application_df['CLASSIFICATION'].value_counts()

# Define a cutoff value for grouping less frequent classifications into "Other"
cutoff = 2  # Example cutoff value, can be adjusted based on your data

# Create a list of classifications to be replaced with "Other"
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace identified classifications with "Other"
clean_application_df['CLASSIFICATION'] = clean_application_df['CLASSIFICATION'].replace(classifications_to_replace, 'Other')

# Display the updated value counts for the CLASSIFICATION column
updated_classification_counts = clean_application_df['CLASSIFICATION'].value_counts()
print(updated_classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Other       26
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff = 800  # Define the cutoff value
classification_counts = clean_application_df['CLASSIFICATION'].value_counts()  # Get value counts
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()  # Create the list

# Replace in dataframe
for cls in classifications_to_replace:
    clean_application_df['CLASSIFICATION'] = clean_application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure replacement was successful
print(clean_application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
clean_application_df = pd.get_dummies(clean_application_df)

clean_application_df = clean_application_df.astype(int)

# Display the first few rows to verify the conversion
clean_application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split the DataFrame into features (X) and target (y) arrays
X = clean_application_df.drop('APPLICATION_TYPE_T10', axis=1)  # Features (independent variables)
y = clean_application_df['IS_SUCCESSFUL']  # Target (dependent variable)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

print("Shape of X_train_scaled:", X_train_scaled.shape)
print("Shape of X_test_scaled:", X_test_scaled.shape)

Shape of X_train_scaled: (27439, 43)
Shape of X_test_scaled: (6860, 43)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

# Define the number of input features
input_features = X_train_scaled.shape[1]  # Number of columns in X_train_scaled

# Define the model - deep neural net
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Print the summary of the model
nn.summary()

C:\Users\Kyle_McDaniel_Python\myenv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 10)                  │             440 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 5)                   │              55 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │               6 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 501 (1.96 KB)

 Trainable params: 501 (1.96 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
# Compile the model

# Assuming nn is your defined TensorFlow/Keras model

# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)
loss = tf.keras.losses.BinaryCrossentropy()
metrics = [tf.keras.metrics.BinaryAccuracy(), tf.keras.metrics.Precision(), tf.keras.metrics.Recall()]

nn.compile(optimizer=optimizer, loss=loss, metrics=metrics)

In [14]:
# Assuming nn is your compiled TensorFlow/Keras model and X_train_scaled, y_train are your training data

# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=25, batch_size=32, validation_data=(X_test_scaled, y_test))

# Example of training with additional options:
# history = nn.fit(X_train_scaled, y_train, epochs=10, batch_size=32, validation_split=0.2, callbacks=[...])

Epoch 1/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - binary_accuracy: 0.7711 - loss: 0.4392 - precision: 0.7696 - recall: 0.8219 - val_binary_accuracy: 0.9936 - val_loss: 0.0315 - val_precision: 0.9924 - val_recall: 0.9956
Epoch 2/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 772us/step - binary_accuracy: 0.9955 - loss: 0.0241 - precision: 0.9948 - recall: 0.9967 - val_binary_accuracy: 0.9974 - val_loss: 0.0110 - val_precision: 0.9973 - val_recall: 0.9978
Epoch 3/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 761us/step - binary_accuracy: 0.9978 - loss: 0.0092 - precision: 0.9984 - recall: 0.9976 - val_binary_accuracy: 0.9990 - val_loss: 0.0054 - val_precision: 0.9992 - val_recall: 0.9989
Epoch 4/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 768us/step - binary_accuracy: 0.9990 - loss: 0.0042 - precision: 0.9994 - recall: 0.9988 - val_binary_accuracy: 0.9997 - val_loss: 0.0026 - val_precision: 0.9997 - val_recall: 0.9997
Epoch 5/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 760us/step - binary_accuracy: 0.9998 - loss: 0.0021 - precision: 0.9998 - recall: 0.9998 - val_binary_accuracy: 0.9999 - val_loss: 0.0017 - val_precision: 0.9997 - val_recall: 1.0000
Epoch 6/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 755us/step - binary_accuracy: 0.9999 - loss: 0.0013 - precision: 1.0000 - recall: 0.9999 - val_binary_accuracy: 0.9999 - val_loss: 0.0011 - val_precision: 0.9997 - val_recall: 1.0000
Epoch 7/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 764us/step - binary_accuracy: 1.0000 - loss: 6.7584e-04 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 1.0000 - val_loss: 6.7840e-04 - val_precision: 1.0000 - val_recall: 1.0000
Epoch 8/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 772us/step - binary_accuracy: 1.0000 - loss: 4.3133e-04 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 0.9997 - val_loss: 0.0015 - val_precision: 1.0000 - val_recall: 0.9995
Epoch 9/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 763us/step - binary_accuracy: 1.0000 - loss: 3.1388e-04 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 0.9997 - val_loss: 9.4646e-04 - val_precision: 1.0000 - val_recall: 0.9995
Epoch 10/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 770us/step - binary_accuracy: 1.0000 - loss: 1.4409e-04 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 0.9996 - val_loss: 9.0968e-04 - val_precision: 0.9997 - val_recall: 0.9995
Epoch 11/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 768us/step - binary_accuracy: 1.0000 - loss: 1.0055e-04 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 0.9994 - val_loss: 9.4568e-04 - val_precision: 1.0000 - val_recall: 0.9989
Epoch 12/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 760us/step - binary_accuracy: 1.0000 - loss: 7.7942e-05 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 0.9999 - val_loss: 8.8471e-04 - val_precision: 0.9997 - val_recall: 1.0000
Epoch 13/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 792us/step - binary_accuracy: 1.0000 - loss: 4.6432e-05 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 1.0000 - val_loss: 1.0341e-04 - val_precision: 1.0000 - val_recall: 1.0000
Epoch 14/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 761us/step - binary_accuracy: 0.9999 - loss: 4.3287e-04 - precision: 0.9999 - recall: 0.9999 - val_binary_accuracy: 1.0000 - val_loss: 4.9461e-05 - val_precision: 1.0000 - val_recall: 1.0000
Epoch 15/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 785us/step - binary_accuracy: 1.0000 - loss: 2.2593e-05 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 1.0000 - val_loss: 1.1966e-04 - val_precision: 1.0000 - val_recall: 1.0000
Epoch 16/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 780us/step - binary_accuracy: 1.0000 - loss: 1.0841e-04 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 1.0000 - val_loss: 8.5898e-05 - val_precision: 1.0000 - val_recall: 1.0000
Epoch 17/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 763us/step - binary_accuracy: 1.0000 - loss: 1.4291e-05 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 0.9996 - val_loss: 0.0015 - val_precision: 0.9992 - val_recall: 1.0000
Epoch 18/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 761us/step - binary_accuracy: 0.9999 - loss: 6.8865e-05 - precision: 0.9999 - recall: 1.0000 - val_binary_accuracy: 0.9997 - val_loss: 5.5838e-04 - val_precision: 1.0000 - val_recall: 0.9995
Epoch 19/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 766us/step - binary_accuracy: 1.0000 - loss: 2.1599e-06 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 0.9997 - val_loss: 4.7237e-04 - val_precision: 1.0000 - val_recall: 0.9995
Epoch 20/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 760us/step - binary_accuracy: 1.0000 - loss: 2.2238e-06 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 0.9997 - val_loss: 3.2502e-04 - val_precision: 1.0000 - val_recall: 0.9995
Epoch 21/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 757us/step - binary_accuracy: 1.0000 - loss: 1.4497e-06 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 0.9997 - val_loss: 4.7730e-04 - val_precision: 1.0000 - val_recall: 0.9995
Epoch 22/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 769us/step - binary_accuracy: 1.0000 - loss: 1.0428e-06 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 0.9997 - val_loss: 2.8849e-04 - val_precision: 1.0000 - val_recall: 0.9995
Epoch 23/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 774us/step - binary_accuracy: 1.0000 - loss: 1.1559e-06 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 0.9997 - val_loss: 2.5629e-04 - val_precision: 1.0000 - val_recall: 0.9995
Epoch 24/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 767us/step - binary_accuracy: 1.0000 - loss: 2.0455e-06 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 1.0000 - val_loss: 1.7920e-04 - val_precision: 1.0000 - val_recall: 1.0000
Epoch 25/25
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 765us/step - binary_accuracy: 1.0000 - loss: 9.9694e-07 - precision: 1.0000 - recall: 1.0000 - val_binary_accuracy: 1.0000 - val_loss: 1.6661e-04 - val_precision: 1.0000 - val_recall: 1.0000

In [16]:
# Evaluate the model using the test data
# Evaluate the model
evaluation_results = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Unpack all returned values into a tuple (or list)
model_metrics = evaluation_results  # This will capture all returned values into a tuple

# Print all evaluation results
print("Evaluation Results:")
for i, result in enumerate(model_metrics):
    print(f"Metric {i+1}: {result}")

215/215 - 0s - 580us/step - binary_accuracy: 1.0000 - loss: 1.6661e-04 - precision: 1.0000 - recall: 1.0000
Evaluation Results:
Metric 1: 0.00016661043628118932
Metric 2: 1.0
Metric 3: 1.0
Metric 4: 1.0

In [18]:
# Export our model to HDF5 file
model_file = "AlphabetSoupCharity.h5"  # Specify the path where you want to save the model

# Save the model to HDF5 file
nn.save(model_file)

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.